<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.endrit.finalproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.CustomViewActivity" />
        <activity android:name=".activities.MathActivity" />
        <activity android:name=".activities.MainPagerActivity" />
        <activity android:name=".activities.WebViewActivity" />
        <activity android:name=".fragments.ClientListFragment" />
        <activity android:name=".activities.ClientListActivity" />
        <activity android:name=".activities.SpecificClientActivity" />
    </application>

</manifest>